/* ~~~~~~~~~~ General / Multiple Pages ~~~~~~~~~~ */
/* Font Family */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playball&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    font-family: 'Montserrat', sans-serif;
}

.container {
    max-width: 1200px!important;
    padding: 0;
}

.cursive_text {
    font-family: 'Playball', cursive;
}

p {
    font-family: 'Roboto', sans-serif;
}

.primary-text {
    color: #F5AC4C;
}

.btn.btn-primary {
    background-color: #ef8b17;
    border-color: #ef8b17;
}

/* ~~~~~~~~~~ Navbar ~~~~~~~~~~ */
header {
    background-image: url("../../assets/images/landing-img.jpg");
    background-size: cover;
    background-position: center;
    height: 600px;
}

nav.navbar {
    padding-top: 5px;
    padding-left: 60px;
}

nav .container {
    padding-left: 4px;
}

.navbar-brand {
    margin-right: 79px;
}

.navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 3px;
    padding-left: 3px;
}

nav .navbar-nav li a {
    color: white;
    margin-right: 20px;
    font-size: 12px;
}

nav button {
    float: right;
}

nav #order-online-btn {
    padding: 20px;
    margin-right: 215px;
    background-image: -webkit-linear-gradient(bottom, rgba(0,0,0,.1) 0%, rgba(255,255,255,.1) 100%);
    font-size: 18px
}

#nav-landing-img #nav-welcome {
    font-size: 82px;
    font-weight: 600;
    text-shadow: 0px 0px 10px rgba(0,0,0,0.3);
    margin-top: 100px;
}

#nav-landing-img h3 {
    font-size: 47px;
}

/* ~~~~~~~~~~ Hours & Questions Cards ~~~~~~~~~~ */
.hours_and_questions_section {
    background-image: url("../../assets/images/contact-img.jpg");
    background-attachment: fixed;
    background-position: center;
    color: white;
    position: relative;
    padding: 100px 20px;
}

.hours_and_questions_section .col-sm-6 {
    padding: 0;
}

.hours_and_questions_section .card {
    height: 500px;
}

.hours_and_questions_section .card h4 {
    font-size: 40px;
}

.hours_and_questions_section #hours-cta-card {
    background-color: #464646;
}

.hours_and_questions_section #hours-cta-card .card-body {
    padding: 50px 20px;
}

.hours_and_questions_section #questions-cta-card {
    background-color: white;
    color: black;
}

.hours_and_questions_section #questions-cta-card .card-body {
    padding: 50px;
}

.hours_and_questions_section #questions-cta-card .form-control {
    margin-bottom: 10px;
}

.hours_and_questions_section #questions-cta-card #disclaimer {
    font-size: .65rem;
}



/* ~~~~~~~~~~ Home Page ~~~~~~~~~~ */
#opening-text-section {
    padding: 100px 20px 50px 20px;
}

#opening-text-section #restaurant-name {
    font-size: 40px;
    padding: 6px 10px;
    padding-left: 20px;
    border-left: 10px solid #F5AC4C;
    margin-bottom: 20px;
    color: #4c4c4c;
}

#opening-text-section .cursive_text {
    font-size: 37px;
    color: #7A7A7A;
    margin-top: 10px;
    margin-bottom: 20px;
    line-height: 1.8;
}

#opening-text-section #restaurant-desc {
    margin-top: 20px;
    line-height: 1.8;
}

#home-food-section {
    padding: 20px;
    padding-bottom: 100px;
}

#our-specialities-section {
    background-image: url("../../assets/images/tenjin-seating.jpg");
    background-attachment: fixed;
    background-position: center;
    color: white;
    padding: 100px 20px;
}

#review-section {
    padding: 100px 20px;
}

/* ~~~~~~~~~~ About Us Page ~~~~~~~~~~ */

/* ~~~~~~~~~~ Contact US Page ~~~~~~~~~~ */