/* ~~~~~~~~~~ General ~~~~~~~~~~ */
/* Font Family */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');

* {
    font-family: 'Montserrat', sans-serif;
}

.btn.btn-primary {
    background-color: #ef8b17;
    border-color: #ef8b17;
}

/* ~~~~~~~~~~ Navbar ~~~~~~~~~~ */
header {
    background-image: url("../../assets/images/landing-img.jpg");
    height: 500px;
}

nav.navbar {
    padding-top: 5px;
}

nav .container {
    padding-left: 4px;
}

.navbar-brand {
    margin-right: 79px;
}

.navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 3px;
    padding-left: 3px;
}

nav ul li a {
    color: white;
    margin-right: 20px;
    font-size: 12px;
}

nav button {
    float: right;
}

nav #order-online-btn {
    padding: 20px;
    margin-right: 150px;
    background-image: -webkit-linear-gradient(bottom, rgba(0,0,0,.1) 0%, rgba(255,255,255,.1) 100%);
    font-size: 18px
}

#nav-landing-img #nav-welcome {
    color: #F5AC4C;
}

/* ~~~~~~~~~~ Home Page ~~~~~~~~~~ */
#our-specialities-section {
    background-image: url("../../assets/images/tenjin-seating.jpg");
    background-attachment: fixed;
    background-position: center;
    color: white;
    padding: 100px 20px;
}

/* ~~~~~~~~~~ About Us Page ~~~~~~~~~~ */

/* ~~~~~~~~~~ Contact US Page ~~~~~~~~~~ */